.btn {
  padding: var(--size-xxs) var(--size-base);
  border-radius: var(--size-9xl);
  border: 1px solid var(--clr-dark);
  font-weight: 500;
  box-shadow: 3px 5px 0 var(--clr-dark);
  transition: box-shadow 0.05s;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 1.5px 3px 0 var(--clr-dark);
}

p {
  line-height: calc(1em + 0.5rem);
}

::-webkit-scrollbar {
  appearance: none;
  width: 5px;
}


::-webkit-scrollbar-thumb {
  background-color: var(--clr-pink);
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
